.contents {
    width: 120vw;
    display: flex;
    flex-direction: row;
    /* height:40vh; */
}

.card{
    width: 48vw;
    word-wrap: none;
    display:flex;
    align-self:center;
    font-weight:normal;
    margin-top:7vh;
    font-family: bree;
    font-size: calc(0.8vw + 1.3vh);
    flex-wrap: nowrap;
}

.greetings{
    /* max-height: 11vh; */
    color: rgba(32,78,43,255);
    font-size: calc(2.5vw + 2vh);
    background-color: white;
}

/* .headers{
    .greetings{
    font-family: roboto;
    color: rgb(81, 133, 95);
    font-size:50pt;
}
} */

/* .about-section{
    padding-top: 100px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 20pt;
} */

@font-face {
    font-family: bree;
    src: url("../fonts/BreeSerif-Regular.ttf");
}

.resume{
    color: black;
    border: 0;
    background-color: white;
    align-self: flex-start;
    text-decoration: underline;
    font-size: calc(0.6vw + 1.3vh);
}

.resume:hover{
    color: rgb(81, 133, 95);
    
}

/* .second-row{
    display: flex;
    flex-direction: row;
} */

.portrait {
    margin-top: 10%;
    max-width: 239px;
    max-height: 239px;
}