.contents {
    display: flex;
    flex-direction: row;
    /* height:40vh; */
}

.card{
    width: 40vw;
    word-wrap: none;
    display:flex;
    align-self:center;
    font-weight:normal;
    margin-top:7vh;
    font-family: bree;
    font-size: calc(0.8vw + 1.3vh);
    flex-wrap: nowrap;
}

.greetings{
    /* max-height: 11vh; */
    color: rgba(32,78,43,255);
    font-size: calc(2.5vw + 2vh);
    background-color: white;
}

/* .headers{
    .greetings{
    font-family: roboto;
    color: rgb(81, 133, 95);
    font-size:50pt;
}
} */

/* .about-section{
    padding-top: 100px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 20pt;
} */

@font-face {
    font-family: bree;
    src: url("../fonts/BreeSerif-Regular.ttf");
}