.waving{
    padding-left: 8%;
    margin-top: 7vh;
    width: 270px;
    display:flex;
    flex-direction: row;
}

.standing{
    max-height: calc(270px + 7vh);
}

.cat{
    max-height: calc(200px + 7vh);
    align-self: flex-start;
    margin-top: 4.5vh;
    /* padding-bottom: 2vh;
    width: 255px;
    height: 255px;
    align-self: flex-start; */

}

.phone{
    margin-top: 7vh;
    /* max-height: calc(270px + 7vh); */
    max-height: 270px;
    /* padding-left: 10%;
    margin-top: 13vh;
    width: 270px;
    display:flex;
    flex-direction: row; */
}
